<div class="row pt-3" style="height: 900px;" *ngIf="lanes.length">
  <div *ngFor="let lane of lanes; trackBy: ident" class="col pr-0">
    <ng-container *ngIf="lane.status === 1">
      <ct-lane-running *ngIf="lane.operator != null" [lane]="lane"></ct-lane-running>
      <ct-lane-running-greyed *ngIf="lane.operator === null" [lane]="lane"></ct-lane-running-greyed>
    </ng-container>

    <ct-lane-fault *ngIf="lane.status > 1" [lane]="lane"></ct-lane-fault>
    <ct-lane-stop *ngIf="lane.status === 0 || lane.status === -1" [lane]="lane"></ct-lane-stop>
  </div>
</div>
  