<div class="scroll-wrapper">
  <div class="container" [ngClass]="{ 'dark-mode': isDarkTheme, 'light-mode': !isDarkTheme }">

        <!-- LOADING OVERLAY -->
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-content">
      <div class="loading-spinner"></div>
      <div class="loading-text">Fetching data...</div>
    </div>
  </div>

    <div class="controls">
      <div class="live-mode-container">
        <mat-slide-toggle
          [(ngModel)]="liveMode"
          (change)="onLiveModeChange($event.checked)"
          color="primary"
          [aria-label]="'Toggle Live Mode'"
        >
          Live Mode
        </mat-slide-toggle>
      </div>

      <app-date-time-picker 
        label="Start Time" 
        [(value)]="startTime"
        (valueChange)="onDateChange()"
      ></app-date-time-picker>
      <app-date-time-picker 
        label="End Time" 
        [(value)]="endTime"
        (valueChange)="onDateChange()"
      ></app-date-time-picker>
  
      <div class="button-group">
        <button mat-flat-button color="primary" (click)="fetchData()" [disabled]="isLoading || !startTime || !endTime">
          <mat-icon>refresh</mat-icon>
          {{ isLoading ? 'Loading...' : 'Fetch Data' }}
        </button>
      </div>
    </div>
  
    <div class="tables-container" [class.loading]="isLoading" *ngIf="machineRows.length || operatorRows.length || itemRows.length">
      <div class="table-section" *ngIf="machineRows.length">
        <h2>Machines</h2>
        <base-table
        [class.dark]="isDarkTheme"
        [class.light]="!isDarkTheme"
        [columns]="machineColumns"
        [rows]="machineRows"
        [selectedRow]="selectedRow"
        (rowClicked)="onMachineClick($event)"
        [getCellClass]="getPerformanceClass"
        >
      </base-table>          
      </div>
      
      <div class="table-section" *ngIf="operatorRows.length">
        <h2>Operators</h2>
        <base-table
          [class.dark]="isDarkTheme"
          [class.light]="!isDarkTheme"
          [columns]="operatorColumns"
          [rows]="operatorRows"
          [selectedRow]="selectedOperator"
          [getCellClass]="getPerformanceClass"
          (rowClicked)="onOperatorClick($event)"
          >
        </base-table>
      </div>
  
      <div class="table-section" *ngIf="itemRows.length">
        <h2>Items</h2>
        <base-table
          [class.dark]="isDarkTheme"
          [class.light]="!isDarkTheme"
          [columns]="itemColumns"
          [rows]="itemRows">
        </base-table>
      </div>
    </div>
  </div>
</div>
  