<div class="scroll-wrapper">
  <div class="container" [ngClass]="{ 'dark-mode': isDarkTheme, 'light-mode': !isDarkTheme }">
      <!-- LOADING OVERLAY -->
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-content">
      <div class="loading-spinner"></div>
      <div class="loading-text">Fetching data...</div>
    </div>
  </div>

    <div class="controls">
      <app-date-time-picker label="Start Time" [(value)]="startTime"></app-date-time-picker>
      <app-date-time-picker label="End Time" [(value)]="endTime"></app-date-time-picker>
  
      <div class="button-group">
        <button mat-flat-button color="primary" (click)="fetchItemAnalytics()" [disabled]="!startTime || !endTime">
          Fetch Data
        </button>
      </div>
    </div>
  
    <base-table
      *ngIf="rows.length"
      [columns]="columns"
      [rows]="rows"
      [selectedRow]="null"
      [class.dark]="isDarkTheme"
      [class.light]="!isDarkTheme"
    ></base-table>
  </div>
</div>
  