<div class="scroll-wrapper">
  <div class="container" [ngClass]="{ 'dark-mode': isDarkTheme, 'light-mode': !isDarkTheme }">
      <!-- LOADING OVERLAY -->
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-content">
      <div class="loading-spinner"></div>
      <div class="loading-text">Fetching data...</div>
    </div>
  </div>

    <base-table
      *ngIf="rows.length"
      [columns]="columns"
      [rows]="rows"
      [selectedRow]="null"
      [class.dark]="isDarkTheme"
      [class.light]="!isDarkTheme"
    ></base-table>

    
    <div class="controls">
      <div class="live-mode-container">
        <mat-slide-toggle
          [(ngModel)]="liveMode"
          (change)="onLiveModeChange($event.checked)"
          color="primary"
          [aria-label]="'Toggle Live Mode'"
        >
          Live Mode
        </mat-slide-toggle>
      </div>

      <app-date-time-picker 
        label="Start Time" 
        [(value)]="startTime"
        (valueChange)="onDateChange()"
      ></app-date-time-picker>
      <app-date-time-picker 
        label="End Time" 
        [(value)]="endTime"
        (valueChange)="onDateChange()"
      ></app-date-time-picker>
  
      <div class="button-group">
        <button mat-flat-button color="primary" (click)="fetchItemAnalytics()" [disabled]="isLoading || !startTime || !endTime">
          <mat-icon>refresh</mat-icon>
          {{ isLoading ? 'Loading...' : 'Fetch Data' }}
        </button>
      </div>
    </div>
  
  </div>
</div>
  