<table mat-table [dataSource]="dataSource" matSort [matSortDisableClear]="true">
  <ng-container *ngFor="let column of visibleColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
    <td mat-cell *matCellDef="let row" [ngClass]="getCellClassForColumn(row[column], column)">
      {{ row[column] }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
  <tr mat-row
      *matRowDef="let row; columns: visibleColumns"
      (click)="onRowClick(row)"
      [class.selected]="isRowSelected(row)">
  </tr>
</table>
