<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of columns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef [mat-sort-header]="!disableSorting ? column : null">
      {{ column }}
    </mat-header-cell>
    

    <mat-cell *matCellDef="let row" [class]="column.toLowerCase().includes('efficiency') ? getEfficiencyClass(row[column]) : ''">
      {{ row[column] }}
    </mat-cell>

  </ng-container>

  <!-- Header and Row Definitions -->
  <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>

  <mat-row
    *matRowDef="let row; columns: columns"
    (click)="onRowClick(row)"
    [ngClass]="{
      'selected': selectedRow === row
    }">
  </mat-row>

</mat-table>
