@use '@angular/material' as mat;
@import '../../src/styles.scss';

.selectedRow {
	background-color: var(--theme-color-secondary-container) !important;
}

.mat-mdc-header-row {
	background-color: var(--theme-color-primary);
	color: var(--theme-color-on-primary);
}

.mat-mdc-row:nth-child(even) {
  background-color: var(--theme-color-surface-bright);
  color: var(--theme-color-on-surface-variant);
}

.mat-mdc-row:hover {
  background-color: var(--theme-color-secondary-middle) !important;
  color: var(--theme-color-on-secondary);
}

.cud-buttons {
	margin-left:auto;
	margin-right: auto;
	width: 90%;
	margin-top:0.5em;
	display: flex;
    justify-content: space-between;
}

