<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Code">Code</th>
    <td mat-cell *matCellDef="let operator"> {{operator.code}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name">Name</th>
    <td mat-cell *matCellDef="let operator"> {{operator.name}}</td>
  </ng-container>
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Active">Active</th>
    <td mat-cell *matCellDef="let operator"><span *ngIf="operator.active">Active</span><span *ngIf="!operator.active">Inactive</span></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'selectedRow': selectionModel.isSelected(row)}" (click)="selectionModel.toggle(row)"></tr>
</table>
<mat-paginator [pageSize]="paginationSize" aria-label="Select page">
</mat-paginator>
<mat-divider></mat-divider>
<div class="cud-buttons">
    <button mat-flat-button (click)="openDialog(null)"><mat-icon>add</mat-icon>New Operator</button>
    <button mat-flat-button [disabled]="selectionModel.selected.length == 0" (click)="openDialog(selectionModel.selected[0])"><mat-icon>edit</mat-icon>Edit Operator</button>
    <button mat-flat-button [disabled]="selectionModel.selected.length == 0" (click)="deleteOperator(selectionModel.selected[0])"><mat-icon>delete</mat-icon>Delete Operator</button>
</div>