<div class="chart-container" [class.dark-mode]="isDarkTheme">
  <!-- <div class="legend">
    <div class="legend-item">
      <span class="color-box green"></span> ≥ 85% (Good)
    </div>
    <div class="legend-item">
      <span class="color-box yellow"></span> 60–84% (Okay)
    </div>
    <div class="legend-item">
      <span class="color-box red"></span> < 60% (Poor)
    </div>
  </div> -->

  <div class="chart-content">
    <bar-chart
      *ngIf="chartData.length"
      [data]="chartData"
      [title]="'Top 10 Operator Efficiency %'"
      [mode]="'oee'"
      [chartWidth]="chartWidth"
      [chartHeight]="chartHeight"
      [extraBottomMargin]="true">
    </bar-chart>
  </div>
</div>
