.green {
  background-color: var(--sg-color-green);
  color: var(--sg-color-background);
}

.yellow {
  background-color: var(--sg-color-yellow);
  color: var(--sg-color-background);
}

.red {
  background-color: var(--sg-color-red);
}

.white {
  background-color: var(--sg-color-white);
}