<div class="modal-wrapper" [ngClass]="{ 'dark': isDarkTheme, 'light': !isDarkTheme }">
  <div class="modal-content">
    <ng-container #container></ng-container>
  </div>

  <!-- Carousel navigation overlay -->
  <div class="carousel-nav-overlay" *ngIf="hasCarousel">
    <button class="carousel-nav left" mat-icon-button (click)="goToPreviousTab()" [disabled]="currentTabIndex === 0">

      <mat-icon>chevron_left</mat-icon>
    </button>
    <button class="carousel-nav right" mat-icon-button (click)="goToNextTab()" [disabled]="currentTabIndex === tabCount - 1">

      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="modal-actions">
    <button mat-flat-button color="primary" (click)="close()">Close</button>
  </div>
</div>
