<div class="container" [ngClass]="{ 'dark-mode': isDarkTheme, 'light-mode': !isDarkTheme }">
<div class="controls">
  <!-- Start Time -->
  <div class="form-group">
    <label for="startTime">Start Time</label>
    <input 
      matInput
      type="datetime-local" 
      id="startTime" 
      [(ngModel)]="startTime">
  </div>

  <!-- End Time -->
  <div class="form-group">
    <label for="endTime">End Time</label>
    <input 
      matInput
      type="datetime-local" 
      id="endTime" 
      [(ngModel)]="endTime">
  </div>

  <!-- Fetch Button -->
  <button mat-flat-button color="primary" (click)="fetchAnalyticsData()" [disabled]="!startTime || !endTime">
    Fetch Data
  </button>
</div>
</div>


<base-table 
  [columns]="columns" 
  [rows]="rows" 
  [selectedRow]="selectedRow"
  (rowClicked)="onRowClick($event)">
</base-table>
