:host {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

// ========== Layout and Container ==========

.chart-container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -1rem
}

// ========== Reusables and Accessibility ==========

svg {
  width: 100%;
  height: auto;
  font-size: 12px;
  user-select: none;
}

.legend {
  font-size: 10px;
  pointer-events: none;

  rect {
    stroke-width: 0.5;
    stroke: rgba(0, 0, 0, 0.2);
  }
}

circle {
  pointer-events: none;
  stroke-width: 0.5;
  stroke: #000;
  opacity: 0.9;
}
