/* You can add global styles to this file, and also import other style files */

/** RTI II Commented Out 08-08-25, appears obsolete 
html, body { height: 100%; }
body { margin: 0;}
a {text-decoration: none; color:inherit;}*/