  <div class="dashboard-wrapper" [class.dark-mode]="isDarkTheme" *ngIf="hasInitialData">
  
    <app-chart-tile
      *ngFor="let chart of chartComponents"
      [title]="chart.title"
      [icon]="chart.icon"
      [chartWidth]="chartWidth"
      [chartHeight]="chartHeight"
    >
      <ng-container *ngIf="fullDashboardData[chart.dataKey]">
        <ng-container
          [ngComponentOutlet]="chart.component"
          [ndcDynamicInputs]="{ data: fullDashboardData[chart.dataKey], chartWidth: chartWidth, chartHeight: chartHeight }"
        ></ng-container>
      </ng-container>
    </app-chart-tile>
  </div>
