<div class="dashboard-container" [class.dark-mode]="isDarkTheme">
  <div class="dashboard-wrapper" *ngIf="hasInitialData" [class.loading]="loading">
    <div class="loading-overlay" *ngIf="loading">
      <div class="loading-spinner"></div>
      <div class="loading-text">Loading data...</div>
    </div>
  
    <app-chart-tile
      *ngFor="let chart of chartComponents"
      [title]="chart.title"
      [icon]="chart.icon"
      [chartWidth]="chartWidth"
      [chartHeight]="chartHeight"
    >
      <ng-container *ngIf="fullDashboardData[chart.dataKey]">
        <ng-container
          [ngComponentOutlet]="chart.component"
          [ndcDynamicInputs]="{ data: fullDashboardData[chart.dataKey], chartWidth: chartWidth, chartHeight: chartHeight }"
        ></ng-container>
      </ng-container>
    </app-chart-tile>
  </div>
  
  <div class="controls">
    <div class="live-mode-container">
      <mat-checkbox
        [(ngModel)]="liveMode"
        (change)="onLiveModeChange($event.checked)"
        color="primary">
        Live Mode
      </mat-checkbox>
    </div>
    <app-date-time-picker
      label="Start Time"
      [(value)]="startTime"
      (valueChange)="onDateChange()"
    ></app-date-time-picker>
    <app-date-time-picker
      label="End Time"
      [(value)]="endTime"
      (valueChange)="onDateChange()"
    ></app-date-time-picker>
    <button
    mat-flat-button
    color="primary"
    (click)="fetchDashboardData().subscribe()"
    [disabled]="!startTime || !endTime || hasInitialData"
  >
    <mat-icon>refresh</mat-icon>
    {{ loading ? 'Loading...' : 'Fetch Data' }}
  </button>
  
  </div>
</div>
