.dark {
  --md-sys-color-primary: rgb(217 186 250);
  --md-sys-color-surface-tint: rgb(217 186 250);
  --md-sys-color-on-primary: rgb(61 36 89);
  --md-sys-color-primary-container: rgb(85 59 113);
  --md-sys-color-on-primary-container: rgb(239 219 255);
  --md-sys-color-secondary: rgb(208 193 218);
  --md-sys-color-on-secondary: rgb(54 45 63);
  --md-sys-color-secondary-container: rgb(77 67 87);
  --md-sys-color-on-secondary-container: rgb(236 221 246);
  --md-sys-color-tertiary: rgb(243 183 191);
  --md-sys-color-on-tertiary: rgb(75 37 44);
  --md-sys-color-tertiary-container: rgb(101 59 65);
  --md-sys-color-on-tertiary-container: rgb(255 217 221);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(21 18 24);
  --md-sys-color-on-background: rgb(232 224 232);
  --md-sys-color-surface: rgb(21 18 24);
  --md-sys-color-on-surface: rgb(232 224 232);
  --md-sys-color-surface-variant: rgb(74 69 78);
  --md-sys-color-on-surface-variant: rgb(204 196 207);
  --md-sys-color-outline: rgb(149 142 152);
  --md-sys-color-outline-variant: rgb(74 69 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 224 232);
  --md-sys-color-inverse-on-surface: rgb(51 47 53);
  --md-sys-color-inverse-primary: rgb(109 83 139);
  --md-sys-color-primary-fixed: rgb(239 219 255);
  --md-sys-color-on-primary-fixed: rgb(39 13 67);
  --md-sys-color-primary-fixed-dim: rgb(217 186 250);
  --md-sys-color-on-primary-fixed-variant: rgb(85 59 113);
  --md-sys-color-secondary-fixed: rgb(236 221 246);
  --md-sys-color-on-secondary-fixed: rgb(32 24 42);
  --md-sys-color-secondary-fixed-dim: rgb(208 193 218);
  --md-sys-color-on-secondary-fixed-variant: rgb(77 67 87);
  --md-sys-color-tertiary-fixed: rgb(255 217 221);
  --md-sys-color-on-tertiary-fixed: rgb(50 16 23);
  --md-sys-color-tertiary-fixed-dim: rgb(243 183 191);
  --md-sys-color-on-tertiary-fixed-variant: rgb(101 59 65);
  --md-sys-color-surface-dim: rgb(21 18 24);
  --md-sys-color-surface-bright: rgb(60 56 62);
  --md-sys-color-surface-container-lowest: rgb(16 13 18);
  --md-sys-color-surface-container-low: rgb(30 26 32);
  --md-sys-color-surface-container: rgb(34 30 36);
  --md-sys-color-surface-container-high: rgb(44 41 46);
  --md-sys-color-surface-container-highest: rgb(55 51 57);
}
