<div class="row pr-3 pt-3" style="height: 900px;">
    <div *ngFor="let lane of realDataArray; trackBy: ident" class="col pr-0">
        <ng-container *ngIf="lane.status === 1">
            <ct-lane-running *ngIf="lane.operator != null" [lane]="lane"></ct-lane-running>
            <ct-lane-running-greyed *ngIf="lane.operator === null" [lane]="lane"></ct-lane-running-greyed>
          </ng-container>
          
          <ct-lane-fault *ngIf="lane.status > 1" [lane]="lane"></ct-lane-fault>
          
          <ct-lane-stop *ngIf="lane.status === 0 || lane.status === -1" [lane]="lane"></ct-lane-stop>
          
    </div>
</div>

<div class="row mt-3 px-3">
    <div class="col-auto">
        <mat-form-field appearance="fill" style="width: 250px;">
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="selectedDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-auto">
        <mat-form-field appearance="fill" style="width: 180px;">
            <mat-label>Serial Number</mat-label>
            <input matInput [(ngModel)]="serialNumber" placeholder="Enter serial">
        </mat-form-field>
    </div>
    <div class="col-auto d-flex align-items-center">
        <button mat-raised-button color="primary" (click)="fetchData()">Fetch Data</button>
    </div>
</div>