.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  
    .carousel-tabs {
      flex-grow: 1;
      min-width: 300px;
    }
  
    button[mat-icon-button] {
      height: 48px;
      width: 48px;
    }
  }
  