<div class="carousel-container">
  <button mat-icon-button (click)="goToPrevious()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  
  <mat-tab-group class="carousel-tabs" [(selectedIndex)]="selectedIndex">
    <mat-tab *ngFor="let label of tabLabels; let i = index" [label]="label">
      <ng-container *ngComponentOutlet="tabComponents[i]"></ng-container>
    </mat-tab>
  </mat-tab-group>

  <button mat-icon-button (click)="goToNext()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div> 