<div class="table-wrapper">
    <div class="controls">
      <app-date-time-picker label="Start Time" [(value)]="startTime"></app-date-time-picker>
      <app-date-time-picker label="End Time" [(value)]="endTime"></app-date-time-picker>
      
      <mat-form-field appearance="outline">
        <mat-label>Operator ID</mat-label>
        <input matInput type="number" [(ngModel)]="operatorId" placeholder="Enter operator ID">
      </mat-form-field>
  
      <div class="button-group">
        <button mat-flat-button color="primary" (click)="fetchItemSummary()" [disabled]="!startTime || !endTime">
          Fetch Data
        </button>
      </div>
    </div>
  
    <div *ngIf="loading" class="loading">Loading item summary...</div>
  
    <base-table
      *ngIf="!loading && itemRows.length"
      [columns]="itemColumns"
      [rows]="itemRows"
      [class.dark]="isDarkTheme"
      [class.light]="!isDarkTheme"
    ></base-table>
  </div>
  