.bar-chart-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
.charts-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

bar-chart, app-multiple-bar-chart, app-stacked-bar-chart {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
}
  